# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

shuffler/outbig12\.txt

shuffler/outbig3\.txt

shuffler/outbig4\.txt

shuffler/outbig5\.txt

shuffler/perm

bth

oneThruN

perm

shuffle

shuffler/out

shuffler/out\.txt

shuffler/out10\.txt

shuffler/out11\.txt

shuffler/out12\.txt

shuffler/out13\.txt

shuffler/out3\.txt

shuffler/out4\.txt

shuffler/out5\.txt

shuffler/out6\.txt

shuffler/out7\.txt

shuffler/out8\.txt

shuffler/out9\.txt
